.search-bar {
  padding: 20px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.search-bar .logo {
  font-size: 2rem;
  color: red;
  box-shadow: 0 1px 4px black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar h1 {
  color: navy;
  margin: 0;
  font-weight: normal;
}

.search-bar .input-group-text {
  background: none;
  padding-left: 20px;
  background-color: white;
}

.search-bar .input-group {
  box-shadow: 0 1px 3px -1px gray;
}

.search-bar .form-control {
  border-left: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .search-bar {
    background-image: url(/assets/img/pexels-wadim-ł-17663848.jpg);
  }
}

.accordion-button:not(.collapsed) {
  background-color: red !important;
  color: yellow !important;
}

.accordion-body {
  color: aqua;
}
